<header>
  <nav class="upper-navbar container">
    <p>
      Numerical Method Calculators
    </p>

    <ul>
      <a href="/">
        <li>Home</li>
      </a>
      <a href="/about">
        <li>About Us</li>
      </a>
    </ul>
  </nav>
</header>