<aside class="side-navbar-aside">
  <br>
  <center>
    <h2>
      METHODS
    </h2>
  </center>
  <br>
  <br>
  <nav class="side-navbar-container">
    <ul>
      <a href="/bisection">
        <li class="active">
            Bisection
        </li>
      </a>
      <a href="/false-position">
        <li>
            False-Position
        </li>
      </a>
      <a href="/single-point">
        <li>
            Single-Point 
        </li>
      </a>
      <a href="/fixed-point">
        <li>
            Fixed-Point 
        </li>
      </a>
      <a href="/secant">
        <li>
            Secant 
        </li>
      </a>
      <a href="/newton-raphson">
        <li>
            Newton-Raphson
        </li>
      </a>
    </ul>
  </nav>
</aside>