<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>

  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="about.css">
</head>
<body>
  
  <%- include("components/navbar.ejs") %>

  <div class="main-con">
    <h1>GROUP 4</h1>
    <h2>BSCpE - 2D</h2>

    <br>
    <br>

    <div class="split">
      <div class="card">
        <div class="imgg">
          <img src="1.jpg" alt="Jan Rix M. Salazar" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Salazar</h3>
            <p>Jan Rix M.</p>
          </div>
          <h3>21</h3>
        </div>
      </div>
      <div class="card">
        <div class="imgg">
          <img src="2.jpg" alt="John Biencent M. Sundiam" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Sundiam</h3>
            <p>John Biencent M.</p>
          </div>
          <h3>19</h3>
        </div>
      </div>
      <div class="card">
        <div class="imgg">
          <img src="3.jpg" alt="Cyrielle Lou Jannedy D. Sunga" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Sunga</h3>
            <p>Cyrielle Lou Jannedy D.</p>
          </div>
          <h3>21</h3>
        </div>
      </div>
    </div>

    <div class="split">
      <div class="card">
        <div class="imgg">
          <img src="4.jpeg" alt="Harlan Sunga" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Sunga</h3>
            <p>Harlan</p>
          </div>
          <h3>21</h3>
        </div>
      </div>
      <div class="card">
        <div class="imgg">
          <img src="5.jpg" alt="John Clarenze P. Tayag" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Tayag</h3>
            <p>John Clarenze P.</p>
          </div>
          <h3>21</h3>
        </div>
      </div>
      <div class="card">
        <div class="imgg">
          <img src="6.jpg" alt="Mary Rose M. Tayag" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Tayag</h3>
            <p>Mary Rose M.</p>
          </div>
          <h3>21</h3>
        </div>
      </div>
    </div>

    <div class="split">
      <div class="card">
        <div class="imgg">
          <img src="7.jpg" alt="Aldrin C. Te" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Te</h3>
            <p>Aldrin C.</p>
          </div>
          <h3>21</h3>
        </div>
      </div>
      <div class="card">
        <div class="imgg">
          <img src="8.jpg" alt="John Villander S. Timbol" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Timbol</h3>
            <p>John Villander S.</p>
          </div>
          <h3>20</h3>
        </div>
      </div>
      <div class="card">
        <div class="imgg">
          <img src="9.jpg" alt="Jhon Mark M. Torno" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Torno</h3>
            <p>Jhon Mark M.</p>
          </div>
          <h3>20</h3>
        </div>
      </div>
    </div>

    <div class="split">
      <div class="card">
        <div class="imgg">
          <img src="10.jpg" alt="John Hervie Torres" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Torres</h3>
            <p>John Hervie</p>
          </div>
          <h3>20</h3>
        </div>
      </div>
      <div class="card">
        <div class="imgg">
          <img src="11.jpg" alt="Francis James S. Tolentino" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Tolentino</h3>
            <p>Francis James S.</p>
          </div>
          <h3>19</h3>
        </div>
      </div>
      <div class="card">
        <div class="imgg">
          <img src="12.jpg" alt="Daniel Tiglao" height="400" />
        </div>
        <div class="info">
          <div class="name">
            <h3>Tiglao</h3>
            <p>Daniel blah blah</p>
          </div>
          <h3>69</h3>
        </div>
      </div>
    </div>

  </div>

  <footer>asdfsdff</footer>

</body>
</html>