<aside class="side-navbar-aside">
  <br>
  <center>
    <h2>
      METHODS
    </h2>
  </center>
  <br>
  <br>
  <nav class="side-navbar-container">
    <ul>
      <a href="/bisection">
        <% if (active == "BISECTION") { %>
          <li class="active">
              Bisection
          </li>
        <% } else { %>
          <li>
              Bisection
          </li>
        <% } %>
      </a>
      <a href="/false-position">
        <% if (active == "FALSE_POSITION") { %>
          <li class="active">
              False-Position
          </li>
        <% } else { %>
          <li>
              False-Position
          </li>
        <% } %>
      </a>
      <a href="/single-point">
        <% if (active == "SINGLE_POINT") { %>
          <li class="active">
              Single-Point
          </li>
        <% } else { %>
          <li>
              Single-Point
          </li>
        <% } %>
      </a>
      <!-- <a href="/fixed-point">
        <% if (active == "FIXED_POINT") { %>
          <li class="active">
              Fixed-Point
          </li>
        <% } else { %>
          <li>
              Fixed-Point
          </li>
        <% } %>
      </a> -->
      <a href="/secant">
        <% if (active == "SECANT") { %>
          <li class="active">
              Secant
          </li>
        <% } else { %>
          <li>
              Secant
          </li>
        <% } %>
      </a>
      <a href="/newton-raphson">
        <% if (active == "NEWTON_RAPHSON") { %>
          <li class="active">
              Newton-Raphson
          </li>
        <% } else { %>
          <li>
              Newton-Raphson
          </li>
        <% } %>
      </a>
    </ul>
  </nav>
</aside>